= link_to "Add post", new_post_path, :class => "new_post_link" if user_signed_in?
- if @posts.any?
  - @posts.each do |post|
    .post
      %h2.post_title
        = link_to post.title, post_path(post)
      .post_date
        = pretty_date post.created_at
      .post_body
        = preserve truncate(markdown(post.body), :length => 1000)
      = link_to "Read more", post_path(post), :class => "post_read_more"
      = link_to "Delete post", post_path(post), :method => :delete, :confirm => "Are you sure?" if user_signed_in?
    %hr
- else
  %h2 There are no posts on the weblog yet.
